<h2>Round Stats</h2>
<h3><%= @round.deck.title %></h3>
<p>You've completed a round of <%= @round.deck.title %>. You answered <%= @round.total_first_correct %>/<%= @round.cards.count %> cards correctly on the first try. You submitted <%= @round.total_guesses %> total guesses before each card was answered correctly.</p>
